body {
    text-align: center;
}
canvas {
    z-index:1;
}
.before-game, .during-game, .after-game {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    background:rgba(255,255,255,0.8);
    z-index:5;
    text-align:left;
    transition: opacity ease 0.5s;
}
.before-game{
    display: flex;
    opacity: 1;
}
.during-game{
    display:none;
    opacity: 1;
    height:auto;
    background:none;
}
.after-game{
    display:none;
    opacity: 0;
}
.start{
    background: #f63;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.before-game ul li{
    color: #333;
}
.during-game p{
    position: absolute;
    top: 0;
}
.during-game p.timer{
    width: 400px;
    background: #f63;
    color: #999;
    text-align: right;
    border-radius: 0.5em;
    overflow: hidden;
}
.during-game p.timer span{
    display:inline-block;
    width: 0%;
    background: #999;
}
.during-game p.score{
    color: #fff;
}
.after-game p{
    color: #666;
}